<div class="topnav">
  <a href="/travels">Back to Trips</a> | 
  <a href="\logout">Log Out </a>
</div><br>
<h1>Create a New Trip</h1>

<form action="/travels" method="POST">
  <label>Location</label><br>
  <input type="text" name="location" id="location"/><br><br>
  <label>Activity</label><br>
  <input type="text" name="activity" id="activity"/><br><br>
  <label>Date</label><br>
  <input type="text" name="travel_date" id="travel_date"/><br><br>
  <input type="submit" name="submit" id="submit" />
</form>
