<h1> Here are your travels,  <%= current_user.user_name %> </h1>

<% @travels.each do |travel| %>
Location: <%= travel.location %><br>
Activity: <%= travel.activity %> <br>
Travel Date: <%= travel.date %> <br>
<% end %> <br>

<a href="/logout">Log Out </a>
