
<div class="topnav">
  <!-- <a class="active" href="/logout">Log Out</a> -->
  <a href="/travels/new">Create a new trip</a>  |
  <a href="/logout">Log Out</a>
  <!-- <a href="#about">About</a> -->
</div>
<h1> Here are your travels,  <%= current_user.user_name %> !</h1>


<% current_user.travels.each do |travel| %>
<ul><li><a href="/travels/<%=travel.id%>"> Location: <%= travel.location %></a><br> </li>

</ul>
<% end %> <br>
