<!-- <p> Here are your travels, <%= @user.user_name %>
<% @user.travels.each do |travel| %>
  <div>
    <%= travel.location %><br>
    <%= travel.activity %> <br>
    <%= travel.travel_date %>
  </div>
<% end %> -->
